In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:
# Configurando o matplotlib para mostrar os gr√°ficos no jupyter notebook
%matplotlib inline

# Carregando o dataset
players_data = pd.read_csv("players19.csv",)

In [3]:
players_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18145 entries, 0 to 18144
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         18145 non-null  object
 1   Age          18145 non-null  int64
 2   Nationality  18145 non-null  object
 3   Overall      18145 non-null  int64
 4   Potential    18145 non-null  int64
 5   Position     18145 non-null  object
dtypes: int64(3), object(3)
memory usage: 850.7+ KB

In [4]:
players_data.describe()

                Age       Overall     Potential
count  18145.000000  18145.000000  18145.000000
mean      25.120915     66.251364     71.321907
std        4.670000      6.909390      6.129134
min       16.000000     46.000000     48.000000
25%       21.000000     62.000000     67.000000
50%       25.000000     66.000000     71.000000
75%       28.000000     71.000000     75.000000
max       45.000000     94.000000     95.000000

In [5]:
players_data.corr(numeric_only=True)

                Age   Overall  Potential
Age        1.000000  0.453492  -0.252544
Overall    0.453492  1.000000   0.660546
Potential -0.252544  0.660546   1.000000

In [6]:
players_data.head(5)

                Name  Age Nationality  Overall  Potential Position
0           L. Messi   31   Argentina       94         94       RF
1  Cristiano Ronaldo   33    Portugal       94         94       ST
2          Neymar Jr   26      Brazil       92         93       LW
3             De Gea   27       Spain       91         93       GK
4       K. De Bruyne   27     Belgium       91         92      RCM

In [ ]:
players_data['Nationality'].value_counts()

In [ ]:
nationalities = players_data.groupby('Nationality').agg({'Overall': 'sum'})
nationalities

In [13]:
players_data['Position'].value_counts().iloc[:10]

ST     2152
GK     2024
CB     1778
CM     1394
LB     1322
RB     1291
RM     1124
LM     1095
CAM     958
CDM     948
Name: Position, dtype: int64