In [42]:
import pandas as pd
import numpy as np

In [43]:
df_sales = pd.read_csv('data.csv', encoding="unicode_escape")
df_sales.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,541909.0,9.552250,218.081158,-80995.00,1.00,3.00,10.00,80995.0
UnitPrice,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0
CustomerID,406829.0,15287.690570,1713.600303,12346.00,13953.00,15152.00,16791.00,18287.0

In [44]:
df_sales['InvoiceDate'] = pd.to_datetime(df_sales['InvoiceDate'])

In [45]:
df_sales.head(4)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

df_sales['Revenue'] = np.multiply(df_sales['Quantity'],df_sales['UnitPrice']) 
df_sales.head(4)

In [47]:
df_sales.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Revenue'],
      dtype='object')

# Agrupamento de vendas por país
sales_by_country = df_sales.groupby('Country')['Revenue'].sum().reset_index()

# Ordenação das vendas em ordem descrescente
sales_by_country = sales_by_country.sort_values('Revenue', ascending=False)

In [54]:
unique_products = df_sales['Description'].unique().sum()
unique_products

TypeError: can only concatenate str (not "float") to str